<!-- Footer -->
<section id="footer" #footer>
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4 d-flex justify-content-center">
                <div class="footer-column">
                    <h5>O nas</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="https://knickknacks.pl/">
                                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>Platforma
                            </a></li>
                        <li><a href="https://knickknacks.pl/o-nas">
                                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>O nas
                            </a></li>
                        <li><a href="https://artysta.knickknacks.pl/">
                                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>Strefa artysty
                            </a></li>
                        <li><a href="https://artysta.knickknacks.pl/dolacz-do-nas">
                                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>Dlaczego warto dołączyć?
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 d-flex justify-content-center">
                <div class="footer-column">
                    <h5>Dla użytkownika</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="https://knickknacks.pl/pages/regulamin-artysty">
                                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>Regulamin
                            </a></li>
                        <li><a href="https://knickknacks.pl/pages/polityka-prywatnosci">
                                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>Polityka prywatności
                            </a></li>
                        <li><a href="https://knickknacks.pl/pages/polityka-prywatnosci/Kontakt">
                                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>Kontakt z administratorem
                            </a></li>

                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 d-flex justify-content-center">
                <div class="footer-column">
                    <h5>Social media</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="https://www.facebook.com/Knickknackspl-107931014152018">
                                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>Facebook
                            </a></li>
                        <li><a href="https://www.instagram.com/knickknackspl">
                                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>Instagram
                            </a></li>
                        <li><a href="https://www.pinterest.com/jbryndza29">
                                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>Pinterest
                            </a></li>
                        <li><a href="https://www.facebook.com/groups/1284512471738965/">
                                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>Dla artystów
                            </a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">&copy; Wszelkie prawa zastrzeżone.<a class="text-green ml-2"
                        href="https://www.knickknacks.pl" target="_blank">2020, Knickknacks.pl</a></p>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->