<div class="container-fluid d-flex justify-content-center align-items-center register-container">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="d-flex justify-content-center">
        <div class="logo-image"></div>
        <h2 class="mt-2 mb-2">
            Wpisz nowe hasło
        </h2>
        <p class="secondary">
            Pamiętaj, aby przechowywać je w bezpiecznym miejscu.
        </p>
        <div class="form-group mb-3">
            <label for="exampleInputpassword1">Hasło</label>
            <input type="password" id="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Podaj swój adres e-mail</div>
            </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Wyślij<fa-icon class="ml-2" [icon]="faLongArrowAltRight"></fa-icon>
        </button>
        <small class="form-check-label text-center mt-3">Wróć do logowania. <a routerLink="/login">Zaloguj się</a></small>
    </form>
</div>