<!-- <div class="edit-info">
    <p>Edycja</p> <fa-icon [icon]="faArrowAltCircleDown"></fa-icon>
</div> -->
<iframe *ngIf="previewUrl" width="100%" height="100%" [src]="('https://artysta.knickknacks.pl'+previewUrl) | safe: 'resourceUrl'"></iframe>
<div class="form-container preview" *ngIf="profile" id="edit-form">
    <h3><a [href]="'https://artysta.knickknacks.pl'+previewUrl" target="_blank">Otwórz w nowej karcie</a></h3>
    <h3>Dopasuj teksty</h3>
    <accordion closeOthers="true" [isAnimated]="true" *ngIf="texts">
        <accordion-group heading="Strona główna">
            <div class="replace" #homepage>
                <select id="homepage">
                    <option value="">Wybierz tekst do podmiany</option>
                    <option *ngFor="let item of texts.homepage" [value]="getValue(item)">{{getValue(item)}}</option>
                </select>
                <fa-icon [icon]="faAngleDoubleDown"></fa-icon>
                <input type="text" placeholder="Wpisz tutaj nowy tekst">
                <button class="btn btn-primary" (click)=replaceText(homepage)>
                    Zapisz
                </button>
            </div>
        </accordion-group>
        <accordion-group heading="O mnie">
            <div class="replace" #about>
                <select id="about">
                    <option value="">Wybierz tekst do podmiany</option>
                    <option *ngFor="let item of texts.about" [value]="getValue(item)">{{getValue(item)}}</option>
                </select>
                <fa-icon [icon]="faAngleDoubleDown"></fa-icon>
                <input type="text" placeholder="Wpisz tutaj nowy tekst">
                <button class="btn btn-primary" (click)=replaceText(about)>
                    Zapisz
                </button>
            </div>
        </accordion-group>
        <accordion-group heading="Portfolio">
            <div class="replace" #portfolio>
                <select id="portfolio">
                    <option value="">Wybierz tekst do podmiany</option>
                    <option *ngFor="let item of texts.portfolio" [value]="getValue(item)">{{getValue(item)}}</option>
                </select>
                <fa-icon [icon]="faAngleDoubleDown"></fa-icon>
                <input type="text" placeholder="Wpisz tutaj nowy tekst">
                <button class="btn btn-primary" (click)=replaceText(portfolio)>
                    Zapisz
                </button>
            </div>
        </accordion-group>
        <accordion-group heading="Kontakt">
            <div class="replace" #contact>
                <select id="contact">
                    <option value="">Wybierz tekst do podmiany</option>
                    <option *ngFor="let item of texts.contact" [value]="getValue(item)">{{getValue(item)}}</option>
                </select>
                <fa-icon [icon]="faAngleDoubleDown"></fa-icon>
                <input type="text" placeholder="Wpisz tutaj nowy tekst">
                <button class="btn btn-primary" (click)=replaceText(contact)>
                    Zapisz
                </button>
            </div>
        </accordion-group>
    </accordion>
    <h3>Opcje dodatkowe</h3>
    <accordion closeOthers="true" [isAnimated]="true">
        <accordion-group heading="Ustaw favicon"
            tooltip="Favicon jest małą ikoną, która wyświetla się obok tytułu witryny w przeglądarce. Służy jako element rozpoznawczy, budujący zaufanie wśród odbiorców, ponieważ pomaga im wizualnie zidentyfikować witrynę internetową. Aby ustawic prawidłowo favicon, wybierz kwadratową ikonę w formacie .png.">
            <div class="addExtra">
                <div class="alert alert-light d-flex align-items-center file-info" role="alert">
                    <fa-icon [icon]="faExclamation"></fa-icon> Upewnij się, że dodajesz plik w odpowiednim formacie (.png).
                   </div>
                <input-file name="favicon" #icon fileAccept="image/png" fileLimit="1" [linkEnabled]="true">
                </input-file>
                <button class="btn btn-primary" (click)="saveIcon()">
                    Zapisz
                </button>
            </div>
        </accordion-group>
        <accordion-group heading="Dodaj logo"
            tooltip="Ustaw logo. Użyj formatu svg, który jest najlepszą opcją dla umieszczania podobnych obrazków na stronach internetowych.">
            <div class="addExtra">
                <div class="alert alert-light d-flex align-items-center file-info" role="alert">
                   <fa-icon [icon]="faExclamation"></fa-icon> Upewnij się, że dodajesz plik w odpowiednim formacie (.svg).
                  </div>
                <input-file #logo name="logo" fileAccept="image/svg" fileLimit="1" [linkEnabled]="true">
                </input-file>
                <button class="btn btn-primary" (click)="saveLogo()">
                    Zapisz
                </button>
            </div>
        </accordion-group>
    </accordion>
    <h3>Galeria prac</h3>
    <accordion closeOthers="true" [isAnimated]="true" *ngIf="categories && artworks">
        <accordion-group heading="Zmień prace">
            <div class="artworks-table">
                <table class="table table-light artworks">
                    <tbody>
                        <tr *ngFor="let artwork of artworks; let index = index">
                            <td><img [src]="'https://artysta.knickknacks.pl/' + artwork.photoUrl.split('public/')[1]"
                                    alt="">
                            </td>
                            <td>
                                <label for="title">Tytuł</label>
                                <input type="text" [name]="'title'+index" [value]="artwork.title" data-field='title'
                                    (change)="updateValue($event, index)">
                            </td>
                            <td>
                                <label for="categories"> Kategoria</label>
                                <select id="categories" [disabled]="categories.length === 0" [name]="'alt'+index"
                                    [value]="artwork.category" data-field='category'
                                    (change)="updateValue($event, index)">
                                    <option value=""></option>
                                    <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                                </select>
                            </td>
                            <td><label for="alt">Atrybut ALT</label>
                                <input type="text" [name]="'alt'+index" [value]="artwork.alt" data-field='alt'
                                    (change)="updateValue($event, index)">
                            </td>
                            <td><label for="include">Umieść na stronie</label>
                                <input type="checkbox" [name]="'use'+ index"
                                    [checked]="!website ? true : artwork.include" data-field='include'
                                    (change)="updateValue($event, index)">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" (click)="saveArtworks()">
                    Zapisz
                </button>
            </div>
        </accordion-group>
    </accordion>
    <h3 *ngIf=" profile.plan && profile.plan !== 'basic'">Opinie klientów</h3>
    <accordion closeOthers="true" [isAnimated]="true"
        *ngIf="categories && artworks && profile.plan && profile.plan !== 'basic'">
        <accordion-group heading="Dodaj opinie">
            <div class="artworks-table">
                <table class="table table-light testimonials">
                    <tbody>
                        <tr *ngFor="let testimonial of testimonials; let index = index">
                            <td>
                                <label for="title">Autor</label>
                                <input type="text" [name]="'author'+index" [value]="testimonial.author"
                                    data-field='title' (change)="testimonials[index].author = $event.target.value">
                            </td>
                            <td><label for="alt">Opinia</label>
                                <textarea type="text" [name]="'alt'+index" [value]="testimonial.content"
                                    data-field='alt'
                                    (change)="testimonials[index].content = $event.target.value"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-add mt-0 btn-primary" (click)="testimonials.push({content: '', author: ''})">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </button>
                <button class="btn btn-primary" (click)="saveTestimonials()">
                    Zapisz
                </button>
            </div>
        </accordion-group>
    </accordion>
    <h3 *ngIf="profile.plan && profile.plan !== 'basic'">Cennik usług</h3>
    <accordion closeOthers="true" [isAnimated]="true" *ngIf="profile.plan && profile.plan !== 'basic'">
        <accordion-group heading="Cennik">
            <div class="artworks-table">
                <div class="pricing-item" *ngIf="pricing.length > 0">
                    <div class="d-flex mb-2">
                        <label for="title">Nazwa usługi</label>
                        <input type="text" [name]="pricing[0].name" [value]="pricing[0].name"
                            (change)="pricing[0].name = $event.target.value">
                    </div>
                    <div class="d-flex mb-2">
                        <label for="alt">Cena</label>
                        <input type="text" [name]="pricing[0].price" [value]="pricing[0].price"
                            (change)="pricing[0].price = $event.target.value">
                    </div>
                    <div class="d-flex mb-2">
                        <label for="alt">Opis</label>
                        <ul>
                            <li class="mb-2" *ngFor="let el of pricing[0].description; let i = index">
                                <input maxlength="35" type="text" [name]="el" [value]="el" data-field='title'
                                    (change)="pricing[0].description[i] = $event.target.value">
                            </li>
                            <button class="btn btn-add btn-add-small mt-0 btn-primary"
                                (click)="pricing[0].description.push('')">
                                <fa-icon [icon]="faPlus"></fa-icon>
                            </button>
                        </ul>
                    </div>
                    <div class="d-flex mb-2">
                        <label for="title">Nazwa usługi</label>
                        <input type="text" [name]="pricing[1].name" [value]="pricing[1].name"
                            (change)="pricing[1].name = $event.target.value">
                    </div>
                    <div class="d-flex mb-2">
                        <label for="alt">Cena</label>
                        <input type="text" [name]="pricing[1].price" [value]="pricing[1].price"
                            (change)="pricing[1].price = $event.target.value">
                    </div>
                    <div class="d-flex mb-2">
                        <label for="alt">Opis</label>
                        <ul>
                            <li class="mb-2" *ngFor="let el of pricing[1].description; let i = index">
                                <input maxlength="35" type="text" [name]="el" [value]="el" data-field='title'
                                    (change)="pricing[1].description[i] = $event.target.value">
                            </li>
                            <button class="btn btn-add btn-add-small mt-0 btn-primary"
                                (click)="pricing[1].description.push('')">
                                <fa-icon [icon]="faPlus"></fa-icon>
                            </button>
                        </ul>
                    </div>
                    <div class="d-flex mb-2">
                        <label for="title">Nazwa usługi</label>
                        <input type="text" [name]="pricing[2].name" [value]="pricing[2].name"
                            (change)="pricing[2].name = $event.target.value">
                    </div>
                    <div class="d-flex mb-2">
                        <label for="alt">Cena</label>
                        <input type="text" [name]="pricing[2].price" [value]="pricing[2].price"
                            (change)="pricing[2].price = $event.target.value">
                    </div>
                    <div class="d-flex mb-2">
                        <label for="alt">Opis</label>
                        <ul>
                            <li class="mb-2" *ngFor="let el of pricing[2].description; let i = index">
                                <input maxlength="35" type="text" [name]="el" [value]="el" data-field='title'
                                    (change)="pricing[2].description[i] = $event.target.value">
                            </li>
                            <button class="btn btn-add btn-add-small mt-0 btn-primary"
                                (click)="pricing[2].description.push('')">
                                <fa-icon [icon]="faPlus"></fa-icon>
                            </button>
                        </ul>
                    </div>
                    <button class="btn btn-primary" (click)="savePricing()">
                        Zapisz
                    </button>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>