<nav class="navbar nav-top  navbar-expand">
    <div class="container">
        <ul class="navbar-nav">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" collapse navbar-collapse" id="navbarNav">
                <li class="nav-item" routerLink="/portal" [ngClass]="{'active': activeNavTop === 'portal'}" (click)="setActive('portal')">
                    <a class="nav-link d-flex" >
                        <fa-icon class="mr-2" [icon]="faIcons"></fa-icon>Portal <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item"  routerLink="/prace" [ngClass]="{'active': activeNavTop === 'prace'}"
                    (click)="setActive('prace')">
                    <a class="nav-link d-flex">
                        <fa-icon class="mr-2" [icon]="faPalette"></fa-icon>Twoje prace<span
                            class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" routerLink="/portfolio" [ngClass]="{'active': activeNavTop === 'portfolio'}"
                    (click)="setActive('portfolio')">
                    <a class="nav-link d-flex">
                        <fa-icon class="mr-2" [icon]="faLaptopCode"></fa-icon>Portfolio <span
                            class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" [ngClass]="{'active': activeNavTop === 'profil'}" [routerLink]="bottomMenu.profil[0].path" (click)="setActive('profil')">
                    <a class="nav-link d-flex">
                        <fa-icon class="mr-2" [icon]="faHatWizard"></fa-icon>Profil<span
                            class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" [ngClass]="{'active': activeNavTop === 'ustawienia'}"
                [routerLink]="'/ustawienia'" (click)="setActive('ustawienia')">
                    <a class="nav-link d-flex">
                        <fa-icon class="mr-2" [icon]="faSlidersH"></fa-icon>Ustawienia<span
                            class="sr-only">(current)</span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</nav>
<nav class="navbar nav-bottom navbar-expand" *ngIf="activeNavBottom">
    <div class="container">
        <ul class="navbar-nav">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" collapse navbar-collapse" id="navbarNav">
                <li class="nav-item" *ngFor="let menuItem of bottomMenu[activeNavTop];" 
                [ngClass]="{'active': activeNavBottom === menuItem.name}" (click)="setActive(menuItem.name, true)" [routerLink]="menuItem.path">
                    <a class="nav-link d-flex">
                       {{menuItem.name}} <span class="sr-only">(current)</span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</nav>