<div class="container-blue faq">
    <div class="container">
        <accordion>
            <accordion-group
                heading="Moje prace nie zostały zaakceptowane. Co mogę zrobić aby to zmienić?">
                Staramy się akceptować jak najwięcej prac. Ponad 90% prac zostaje odrzuconych nie dlatego, że są słabe,
                a z powodu złych zdjęć. Przygotowaliśmy dla Was krótki poradnik, o tym jak robić dobre zdjęcia prac: <a
                    href="https://knickknacks.pl/blog/index.php/2020/08/17/jak-fotografowac-obrazy/" target="_blank">Jak zrobić
                    dobre zdjęcia obrazu? </a></accordion-group>
            <accordion-group heading="Kiedy moje prace zostaną zaakceptowane?">
                Praca zostanie dodana w ciągu 24 godzin od płatności.
            </accordion-group>
            <accordion-group heading="Jak usunąć subskrypcję?">
                <p>W zakładce ustawienia znajduje się czerwony przycisk "Usuń subskrypcję". Jeśli po jego
                    przycisnięciu
                    pojawił
                    się komunikat na zielonym tle o anulowaniu subskrypcji, została ona anulowana pomyślnie i
                    żadne
                    opłaty
                    nie
                    zostaną pobrane z karty płatniczej. Po anulowaniu subskrypcja będzie widoczna w profilu do
                    końca
                    okresu
                    próbnego i do końca tego czasu stworzona strona będzie online.</p>
            </accordion-group>
            <accordion-group heading="Czy mogę dodać prace, jeśli nie jestem profesjonalistą?">
                <p>Jak najbardziej!</p>
            </accordion-group>
            <accordion-group heading="Czy można wystawiać przedmioty wirtualne?">
                <p>Sztukę cyfrową można dodawać w panelu artysty, aby zaprezentować ją innym twórcom lub dodać
                    do swojej
                    strony-portfolio. Jeśli przedmiot cyfrowy zostanie kupiony, od Twojego zysku zostanie odliczony koszt wydruku pracy.
                </p>
            </accordion-group>
            <accordion-group heading="Czy wymagamy prowadzenia działalności gospodarczej?">
                <p>Nie wymagamy dowodu na prowadzenie dzialałności gospodarczej i nie każdy artysta sprzedający
                    prace na
                    naszym portalu, musi posiadać właśną firmę. Ufamy, że współpracujący z nami artyści,
                    utrzymujący się
                    ze
                    swojej sztuki, wypełniają swoje
                    obowiązki i prowadzą sprzedaż legalnie.
                </p>
            </accordion-group>
            <accordion-group heading="Czy muszę mieszkać na terytorium Polski?">
                <p>Dopuszczamy sprzedaż z zagranicy. Bardzo ważnym jest jednak, aby obraz mógł dotrzeć do kupującego w ciągu kilku dni,
                    więc
                    sprzedaż z innych kontynentów niż Europa może okazać się pod względem logistycznym
                    niemożliwa.
                </p>
            </accordion-group>
            <accordion-group heading="Potrzebuje pomocy z obsługą serwisu. Do kogo mogę się zwrócić?">
                <p>Zapraszamy do kontaktu za pomocą czata na stronie, pod adresem kontakt@knickknacks.pl lub
                    numerem
                    telefonu +48514346665.
                </p>
            </accordion-group>
        </accordion>
    </div>
</div>