<div class="container-blue faq">
    <div class="container">
        <accordion>
            <accordion-group heading="Kiedy moje prace zostaną zaakceptowane?">
                Większość prac jest dodawanych w ciągu 72h.
            </accordion-group>
            <accordion-group heading="Jak usunąć subskrypcję?">
                <p>W zakładce ustawienia znajduje się czerwony przycisk "Usuń subskrypcję". Jeśli po jego przycisnięciu
                    pojawił
                    się komunikat na zielonym tle o anulowaniu subskrypcji, została ona anulowana pomyślnie i żadne
                    opłaty
                    nie
                    zostaną pobrane z karty płatniczej. Po anulowaniu subskrypcja będzie widoczna w profilu do końca
                    okresu
                    próbnego i do końca tego czasu stworzona strona będzie online.</p>
            </accordion-group>
            <accordion-group heading="Czy pobieramy miesięczny abonament?">
                <p>Tylko w przypadku utrzymywania własnej strony w naszym serwisie. Dla pozostałych osób nie ma żadnych
                    powtarzających się płatności.</p>
            </accordion-group>
            <accordion-group heading="Czy mogę dodać prace, jeśli nie jestem profesjonalistą?">
                <p>Jak najbardziej!</p>
            </accordion-group>
            <accordion-group heading="Czy można wystawiać przedmioty wirtualne?">
                <p>Sztukę cyfrową można dodawać w panelu artysty, aby zaprezentować ją innym twórcom lub dodać do swojej
                    strony-portfolio, na sprzedaż w galerii Knickknacks.pl zostaną jednak zaakceptowane tylko przedmioty
                    fizyczne.
                </p>
            </accordion-group>
            <accordion-group heading="Czy wymagamy prowadzenia działalności gospodarczej?">
                <p>Nie wymagamy dowodu na prowadzenie dzialałności gospodarczej i nie każdy artysta sprzedający prace na
                    naszym portalu, musi posiadać właśną firmę. Ufamy, że współpracujący z nami artyści, utrzymujący się
                    ze
                    swojej sztuki, wypełniają swoje
                    obowiązki i prowadzą sprzedaż legalnie.
                </p>
            </accordion-group>
            <accordion-group heading="Czy muszę mieszkać na terytorium Polski?">
                <p>W przypadku prac wizualnych dopuszczamy sprzedaż z zagranicy. W takiej sytuacji jednak, to artysta
                    ponosi koszt
                    wysyłki. Bardzo ważnym jest również, aby obraz mógł dotrzeć do kupującego w ciągu kilku dni, więc
                    sprzedaż z innych kontynentów niż Europa może okazać się pod względem logistycznym niemożliwa.

                    W przypadku prac z kategorii Rękodzieło dopuszczamy dłuższe terminy dostawy i współpracę z osobami
                    mieszkającymi w różnych krajach. Trzeba jednak
                    ponieść koszt wysyłki prac do Polski.
                </p>
            </accordion-group>
            <accordion-group heading="Potrzebuje pomocy z obsługą serwisu. Do kogo mogę się zwrócić?">
                <p>Zapraszamy do kontaktu za pomocą czata na stronie, pod adresem kontakt@knickknacks.pl lub numerem
                    telefonu +48514346665.
                </p>
            </accordion-group>
        </accordion>
    </div>
</div>