<div class="container-blue d-flex justify-content-center " *ngIf="!artworks">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container-blue" *ngIf="artworks">
    <div class="container">
        <div class="alert alert-danger" *ngIf="!userProfile.hasPaid && unpaidArtworksNumber > 0">
            <p> Twoje konto nie zostało opłacone, więc prace nie zostaną zaakceptowane przez moderatora. Po opłaceniu
                będą widoczne na stronie głównej (knickknacks.pl) w ciągu kilku godzin. Liczba nieopłaconych prac:
                {{unpaidArtworksNumber}} <br>
                <br>
                Cena za pakiet 100 prac: <strong>4,99 PLN</strong>
                 <br><br>
                 <strong> Co dostaniesz w zamian?</strong>
                <span>
                    <ul>
                        <li>
                            Wyświetlenie na stronie głównej serwisu
                        </li>
                        <li>
                            Promocja w reklamach produktowych Google
                        </li>
                        <li>
                            Promocja w sieci reklamowej Google
                        </li>
                        <li>
                            Promocja w Facebook Ads
                        </li>
                        <li>
                            Promocja na Instagramie
                        </li>
                        <li>
                            Promocja w płatnych wyróżnieniach na serwisach sprzedażowych
                        </li>
                    </ul>
                </span>
            </p>
            <button class="btn btn-primary" (click)="checkout()"
                id="checkout-button-price_1H9XA3BihCZuV5pkz5bIcMAS">Zapłać</button>
        </div>
        <div class="alert alert-success" *ngIf="userProfile.hasPaid">
            Mamy dla Ciebie prezent! W ramach opłaty za dodanie prac, przysługuje Ci możliwość darmowej sesji zdjęciowej
            dla Twoich prac. Jeśli jesteś zainteresowany lub zainteresowana, skorzystaj z czata, aby dać nam znać.
        </div>
        <h3>
            {{artworks.length ? 'Zarządzaj dodanymi pracami' : 'Nie dodałeś jeszcze żadnych prac'}}
        </h3>
        <div class="d-flex flex-col">
            <div *ngFor="let artwork of artworks" class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-3 artworks-img">
                        <img [src]="'https://artysta.knickknacks.pl/' + artwork.photosUrls[0].split('public/')[1]"
                            class="card-img" style="max-height: 25vh; width: auto;" alt="Artwork main photo">
                    </div>
                    <div class="col-md-3 col-text">
                        <div class="card-body">
                            <h5 class="card-title link" [routerLink]="artwork._id">
                                <fa-icon class="mr-2" [icon]="faLink"></fa-icon>{{artwork.title}}
                            </h5>
                            <p *ngIf="artwork.price" class="card-text">{{artwork.price}} zł.</p>
                            <p *ngIf="artwork.price" class="card-text">{{artwork.height}}x{{artwork.width}}cm.</p>

                            <div class="d-flex flex-row mt-3">
                                <a [routerLink]="'edytuj/'+artwork._id" class="btn btn-primary mr-2">Edytuj</a><a
                                    (click)="delete(artwork._id)" class="btn btn-danger">Usuń</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-text">
                        <div class="card-body">
                            <h5 class="card-title">Komentarze i oceny</h5>
                            <p *ngIf="artwork.reviews.length">Średnia ocen: {{meanReview(artwork.reviews)}}</p>
                            <p *ngIf="!artwork.reviews.length">Ta praca nie została jeszcze oceniona</p>
                            <p *ngIf="artwork.comments">Liczba komentarzy: {{artwork.comments.length}}</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-text">
                        <div class="card-body">
                            <h5 class="card-title">Status</h5>
                            <p class="card-text">
                                {{!artwork.forSale ? 'Nie na sprzedaż' : 'W sprzedaży'}} </p>
                            <!-- <p *ngIf="!artwork.accepted" class="card-text text-muted">
                                <fa-icon class="mr-2" [icon]="faHourglassHalf"></fa-icon>Oczekuje na zatwierdzenie
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>