* {
  color: #4b4b4b;
}
.display-mobile {
  display: none;
}
@media (max-width: 1023px) {
  .banner-profile > img {
    display: none;
  }
  .list-group-horizontal {
    flex-direction: row !important;
  }
  .display-desktop {
    display: none !important;
  }
  .banner-profile {
    max-height: none !important;

    min-width: auto !important;
  }
  .display-mobile {
    display: initial;
    .profile-image {
      width: 40vw;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
    }
  }
}
.banner-profile {
  max-height: 50vh;
  min-width: 100vw;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
  }
  .main-bar {
    height: 120px;
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    .container-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .profile-main {
      width: 220px;
      position: absolute;
      left: calc(50% - 100px);
      bottom: 0;
      h1 {
        text-align: center;
        font-size: 27px;
        line-height: 35px;
        letter-spacing: -0.0114923em;
        font-family: inter ui, -apple-system, BlinkMacSystemFont, segoe ui,
          roboto, oxygen, ubuntu, cantarell, fira sans, droid sans,
          helvetica neue, sans-serif;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-weight: 500;
      }
      p {
        font-size: 16px;
        color: #4b4b4b;
        text-align: center;
      }
    }
    .profile-image {
      height: 200px;
      width: 200px;
      overflow: hidden;
      border-radius: 50%;
      border-width: 4px;
      border-style: solid;
      border-color: #fff;
      box-shadow: 0 1px 2px 0 #0b01015e, 0 0 1px 0 rgba(0, 0, 0, 0.35);
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 200px;
        width: auto;
      }
    }
    .list-group-horizontal {
      flex-direction: row !important;
    }
  }
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    border-right: 1px solid #eaeaf5;
    border-radius: 0;
    padding: 0 10px;
    & span:nth-of-type(2) {
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      line-height: 1em;
    }
    & span:nth-of-type(1) {
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      line-height: 1em;
      margin-bottom: 5px;
    }
    &:last-of-type {
      border-right: none;
    }
  }
}
.main-content {
  .detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    .label {
      color: #8f91ac;
    }
    .detail {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
  .btn-big {
    color: #fff;
  }
  .card {
    margin: 5px 0;
    width: 100%;
    li {
      display: flex;
      justify-content: center;
      overflow: hidden;
    }
    &.side {
      padding: 20px;
    }
  }
  .card-header {
    cursor: pointer;
  }
  .col {
    min-width: 300px;
  }
}
.img-placeholder {
  background: #fff;
  width: 100%;
  padding: 30px;
}
.socials .list-group-item img {
  width: auto !important;
}