<div class="container-blue p-0" *ngIf="profile && usersArtworks">
    <div class="banner-profile">
        <div class="overlay"></div>
        <img [src]="profile.coverPhoto ?  'http://localhost:5000/' + profile.coverPhoto.split('public/')[1] : 'http://localhost:5000/images/download.jpeg'"
            alt="Banner image">
        <div class="main-bar">
            <div class="container container-bar">
                <div class="profile-main">
                    <div class="profile-image mb-2">
                        <img *ngIf="profile.profilePhoto"
                            [src]="'http://localhost:5000/' + profile.profilePhoto.split('public/')[1]" alt="">
                            <img *ngIf="!profile.profilePhoto" class="img-placeholder"
                            [src]="'http://localhost:5000/images/artist.svg'" alt="">
                    </div>
                    <h1>
                        {{profile.firstName}} {{profile.lastName}}
                    </h1>
                    <p>
                        {{profile.website || 'Brak dodanej strony'}}
                    </p>
                </div>
                <div class="stats">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">
                            <span>Liczba prac</span>
                            <span>{{usersArtworks.length}}</span>
                        </li>
                        <li class="list-group-item" [tooltip]="'Liczba wszystkich ocen: ' + allReviews">
                            <span>Średnia ocen</span>
                            <span>{{meanReview}}</span>
                        </li>
                        <li class="list-group-item">
                            <span>Obserwujący</span>
                            <span>{{profile.observers.length}}</span>
                        </li>
                    </ul>
                </div>
                <div class="socials">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item" *ngIf="profile.facebook">
                            <a target="_blank" [href]="profile.facebook"><img src="http://localhost:5000/images/facebook.svg"
                                    alt="Facebook Icon" style="height: 40px;"></a>
                        </li>
                        <li class="list-group-item" *ngIf="profile.instagram">
                            <a target="_blank" [href]="profile.instagram"><img src="http://localhost:5000/images/instagram.svg"
                                    alt="Instagram Icon" style="height: 40px;"></a>
                        </li>
                        <li class="list-group-item"  *ngIf="profile.twitter">
                            <a target="_blank" [href]="profile.twitter"><img src="http://localhost:5000/images/twitter.svg"
                                    alt="Twitter Icon" style="height: 40px;"></a>
                        </li>
                        <li class="list-group-item"  *ngIf="profile.behance">
                            <a target="_blank" [href]="profile.behance"><img src="http://localhost:5000/images/behance.svg"
                                    alt="behance Icon" style="height: 40px;"></a>
                        </li>
                        <li class="list-group-item"  *ngIf="profile.youtube">
                            <a target="_blank" [href]="profile.youtube"><img src="http://localhost:5000/images/youtube.svg"
                                    alt="Youtube Icon" style="height: 40px;"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content container mt-4">
        <div class="row">
            <div class="col-lg-4">
                <div class="card side">
                    <div class="btn btn-primary btn-big" (click)="follow()" *ngIf="!isFollowing()">
                        Obserwuj
                    </div>
                    <button class="btn btn-primary btn-big" disabled *ngIf="isFollowing()">
                        Obserwujesz
                    </button>
                    <p class="mt-3" *ngIf="profile.bio">{{profile.bio}}</p>
                    <p class="mt-3" *ngIf="!profile.bio">Użytkownik nie przedstawił się</p>
                    <div class="details white">
                        <div class="detail-item" *ngFor="let field of fieldsToShow">
                            <span class="label" *ngIf="profile[field.name]">{{field.pl}}</span>
                            <span class="detail text-right" *ngIf="profile[field.name]">
                                {{profile[field.name]}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-row mb-0 d-flex align-items-center">
                    <div class="col d-flex" *ngFor="let artwork of usersArtworks">
                        <div class="card">
                            <div [routerLink]="'/prace/'+artwork._id" class="card-header">
                                {{artwork.title}} <br>
                                <small>{{artwork.date}}</small>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <img [src]="'http://localhost:5000/' + artwork.photosUrls[0].split('public/')[1]"
                                        class="card-img" style="max-height: 25vh; width: auto;"
                                        alt="Artwork main photo">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>