fa-icon {
    font-size: 22px;
    vertical-align: middle;
    color: #a4abc5;
}
.notification {
    display: flex;
    justify-content: center;
    align-items: center;
}
.notifications {
    ul {
        padding: 50px 0 !important;

    }
    li {
        transform: translateY(-50px) !important;
    }
}
.icon-container{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #f1f5fa;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    fa-icon {
        font-size: 28px;
    }
}

p {
    font-size: 13px;
    color: #828db1;
    line-height: 70px;
    display: inline;
}
.btn-transparent, .btn-transparent:focus, .btn-transparent:hover, .btn-transparent:active {
    background: 
    transparent !important;
    border:
    transparent !important;
    box-shadow: none !important;
}
.animations span{
    color:red;
    position: absolute;
    font-size: 20px;
    top: 15px;
    right: 42px;
}
.dropdown-menu.show {
    height: auto !important;
    right: 0 !important;
    left: auto !important;
}