<nav class="navbar container navbar-expand justify-content-between" *ngIf="profile">
    <div class="navbar-nav">
        <a class="navbar-brand" href="#">
            <img src="../../images/knickknacks-logo.svg" height="50px" alt="knickknacks logo">
        </a>
    </div>
    <div class="d-flex">
        <div class="btn-group" dropdown *ngIf="profile.notifications.length === 0">
            <button id="button-animated" dropdownToggle type="button"
                class="btn btn-primary dropdown-toggle btn-transparent" aria-controls="dropdown-animated">
                <fa-icon class="mr-4" [icon]="faBell"></fa-icon>
            </button>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                aria-labelledby="button-animated">
                <li role="menuitem"><a class="dropdown-item" href="#">Brak nowych powiadomień</a></li>
            </ul>
        </div>

        <div class="btn-group" dropdown *ngIf="profile.notifications.length !== 0">
            <button id="button-animated" dropdownToggle type="button" (click)="readNotifications()"
                class="btn btn-primary dropdown-toggle btn-transparent animations" aria-controls="dropdown-animated">
                <fa-icon class="mr-4" [icon]="faBell"></fa-icon><span *ngIf="unredNotifications()">⚫</span>
            </button>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                aria-labelledby="button-animated">
                <li role="menuitem" *ngFor="let item of profile.notifications"><a class="dropdown-item" [href]="item.link">{{item.notification}}</a></li>
            </ul>
        </div>
        <div class="btn-group" dropdown >
            <button id="button-animated" dropdownToggle type="button" (click)="readNotifications()"
                class="btn btn-primary dropdown-toggle btn-transparent d-inline-flex justify-content-center align-items-center" aria-controls="dropdown-animated">
                <div class="icon-container">
                    <fa-icon [icon]="faUser"></fa-icon>
                </div>
                <p class="ml-2 my-0">{{profile.firstName}}</p>
            </button>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                aria-labelledby="button-animated">
                <li role="menuitem"><a class="dropdown-item" (click)="logout()">Wyloguj się</a></li>
            </ul>
        </div>
    </div>
</nav>