<nav class="navbar container navbar-expand justify-content-between">
    <div class="navbar-nav">
        <a class="navbar-brand" href="#">
            <img src="../../images/knickknacks-logo.svg" height="50px" alt="knickknacks logo">
        </a>
    </div>
    <div class="d-flex">
        <div class="notification">
            <fa-icon class="mr-4" [icon]="faBell"></fa-icon>
        </div>
        <div class="user-dropdown d-flex align-items-center">
            <div class="icon-container">
                <fa-icon [icon]="faUser"></fa-icon>
            </div>
            <p class="ml-2 my-0">{{currentUser.firstName}}</p>
        </div>
    </div>
</nav>