<div class="container-blue d-flex justify-content-center " *ngIf="!artworks">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container-blue home" *ngIf="artworks">
    <section class="container">
        <div class="choose-tiles form-row">
            <div class="tile col" [ngClass]="{ active: active === '30new' }" (click)="getArtworks('30', 'new')">
                Najnowsze
            </div>
            <div class="tile  col" [ngClass]="{ active: active === '30best' }" (click)="getArtworks('30', 'best')">
                Najlepsze w tym miesiącu
            </div>
            <div class="tile active col" [ngClass]="{ active: active === 'allTimebest' }"
                (click)="getArtworks('allTime', 'best')">
                Najlepiej oceniane
            </div>
            <div class="tile  col" [ngClass]="{ active: active === '1best' }" (click)="getArtworks('1', 'best')">
                Najlepsze dziś
            </div>
            <div class="tile  col" [ngClass]="{ active: active === '30undiscovered' }"
                (click)="getArtworks('30', 'undiscovered')">
                Nieodkryte
            </div>
        </div>
        <div class="artworks-main m-5 d-flex justify-content-center align-items-center">
            <div class="spinner-border m-5" role="status" *ngIf="loadingPics">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="artworks-main mt-2" *ngIf="artworks && !loadingPics">
            <div class="form-row" [ngClass]="{ show: showAll }">
                <a class="col img-container" [href]="'../prace/' + item._id" *ngFor="let item of artworks">
                    <img [src]="item.photosUrls[0] ? 
              'https://artysta.knickknacks.pl/' + item.photosUrls[0].split('public/')[1] : './images/placeholder.png'
            " alt="" />
                    <div class="overlay">
                        {{ item.title }}
                    </div>
                </a>
            </div>
        </div>
        <div class="btn-row">
            <button class="btn btn-primary p-3" (click)="showAllFn()">
                Pokaż więcej
            </button>
        </div>
    </section>
    <section class="container mt-5" *ngIf="users">
        <div class="choose-tiles purple form-row">
            <!-- <div class="tile col" [ngClass]="{ active: activeArtist === 'fav' }" (click)="getArtists('fav')">
                Mogą Ci się spodobać
            </div> -->
            <div class="tile active col" [ngClass]="{ active: activeArtist === 'best' }" (click)="getArtists('best')">
                Ostatnio dołączyli
            </div>
            <!-- <div class="tile col" [ngClass]="{ active: activeArtist === 'new' }" (click)="getArtists('new')">
                Ostatnio dołączyli
            </div> -->
        </div>
        <div class="row artists" *ngIf="!allArtists">
            <a class="col-lg-3 artist" [routerLink]="'../profil/zobacz/' + item._id"
                *ngFor="let item of users | slice: users.length - 4:users.length; let i = index">
                <img [src]="
            'https://artysta.knickknacks.pl/' + item.bestArtworkUrl.split('public/')[1]
          " alt="" />
                <div class="overlay">
                    <div class="content">
                        <div class="img-container" *ngIf="item.profilePhoto">
                            <img [src]="
                  'https://artysta.knickknacks.pl/' +
                  item.profilePhoto.split('public/')[1]
                " alt="" />
                        </div>
                        <h3>{{ item.name }}</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="row artists" *ngIf="allArtists">
            <div class="col-lg-3 artist" [routerLink]="'../profil/zobacz/' + item._id"
                *ngFor="let item of users; let i = index">
                <img [src]="
            'https://artysta.knickknacks.pl/' + item.bestArtworkUrl.split('public/')[1]
          " alt="" />
                <div class="overlay">
                    <div class="content">
                        <div class="img-container" *ngIf="item.profilePhoto">
                            <img [src]="
                  'https://artysta.knickknacks.pl/' +
                  item.profilePhoto.split('public/')[1]
                " alt="" />
                        </div>
                        <h3>{{ item.name }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-row">
            <button class="btn btn-primary p-3" (click)="showAllArtistsFn()">
                {{ allArtists ? "Ukryj" : "Pokaż wszystkie" }}
            </button>
        </div>
    </section>
    <section class="container mt-5">
        <div class="choose-tiles purple form-row">
            <div class="tile active col" [ngClass]="{ active: activeSection === 'grafika' }"
                (click)="getSection('grafika')">
                Grafika
            </div>
            <div class="tile col" [ngClass]="{ active: activeSection === 'malarstwo' }"
                (click)="getSection('malarstwo')">
                Malarstwo
            </div>
            <div class="tile col" [ngClass]="{ active: activeSection === 'rysunek' }" (click)="getSection('rysunek')">
                Rysunek
            </div>
        </div>
        <div *ngIf="sectionArtworks">
            <a class="form-row" [ngClass]="{ show: showAll }">
                <div class="col img-container" [routerLink]="'../prace/' + item._id"
                    *ngFor="let item of sectionArtworks">
                    <img [src]="
              'https://artysta.knickknacks.pl/' + item.photosUrls[0].split('public/')[1]
            " alt="" />
                    <div class="overlay">
                        {{ item.title }}
                    </div>
                </div>

            </a>
            <div class="btn-row">
                <button class="btn btn-primary p-3" (click)="showAllTypeFn()">
                    Pokaż więcej
                </button>
            </div>
        </div>
    </section>
</div>