.page-cover {
  background-color: #181823 !important;
  color: #fff;
  border-radius: 0;
  padding: 3rem 2rem;
}
.nav-link,
h2 {
  color: #181823 !important;
}
@media (max-width: 500px) {
  .sm-none {
    display: none !important;
  }
  .page-cover {
    padding: 20px 5px;
  }
  .container-blue {
    padding: 10px 0;
  }
  p {
    font-size: 14px !important;
  }
  h1 {
    font-size: 20px;
  }
}
.flex-direction-column {
  flex-direction: column;
}
.foot {
  section {
    background-color: #181823 !important;
    padding-top: 20px;
  }
  * {
    color: #fff !important;
  }
  .footer-column {
    max-width: 200px;
  }
}
