h3 {
    font-size: 27px;
    line-height: 35px;
    margin: 0;
    padding: 20px 0;
    color: #4b4b4b
   }
.banner {
    position: relative;
    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color:#212529d6;
    }
}
.image-banner {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;    top: 50%;
    width: 100%;
    img {
        max-height: 80vh;
        width: auto !important;
    }
}
   .banner h1 {    top: 25%;
    width: 100%;
position: absolute;    text-align: center;
    color:
    #fff;
    text-shadow: 0 0 1px
    rgba(239, 242, 249, 0);
    font-size: 3em;
}